*

!/.gitignore
!/LICENSE
!/README.md



!/zola.toml

!/content/
!/content/**

!/sass/
!/sass/**

!/static/
!/static/**

!/templates/
!/templates/**

!/themes/
!/themes/**



!/.github/
!/.github/workflows
!/.github/workflows/zola.yaml
